# If you modify this, please also make sure to edit init.sh

[Unit]
Description=InfluxDB-Relay is a service to replicate InfluxDB data for high availability
Documentation=https://github.com/influxdata/influxdb-relay
After=network.target

[Service]
User=influxdb-relay
Group=influxdb-relay
Environment=STDOUT=/var/log/influxdb-relay/influxdb-relay.log
Environment=STDERR=/var/log/influxdb-relay/influxdb-relay.log
LimitNOFILE=65536
ExecStart=/usr/bin/influxdb-relay -config /etc/influxdb-relay/influxdb-relay.conf >>$STDOUT 2>>$STDERR
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=influxdb-relay.service
